/* Main Body, header and footer*/                               /* Main Body, header and footer*/

p, h1, h2, h3, h4, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

h4 {
    color: red;
    font-weight: bold;
}

image {
    width: 100%;
}

header {
    margin: 0;
    padding: 0px 0px auto 0px;
    justify-content: space-between;
    display: flex;
    background-color: #00A3FF;
}

body {
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
    overflow-x: hidden;
    background-color: rgb(208, 230, 255);
}

.phone-and-email {
    font-size: 18px;
    font-weight: bold;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-height: 150px;
    background-color: #00A3FF;
    text-align: center;
    align-self: top;
    margin: 0;
    padding: 0px 0px auto 0px;
    }

    .header-links {
        display: flex;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        padding-left: 100px;
        margin: 10px auto 10px 50px;
    }

    .header h1 {
        text-align: top;
        font-size: 2em;
    }

    .header ul {
        display: flex;
        gap: 70px;
        list-style-type: none;
        flex-wrap: wrap;
    }

    .header ul :hover {
        text-decoration: underline;
    }

    .header a {
        color: black;
        text-decoration: none;
        font-size: 1.8em;
    }

  

header img {
    max-width: 200px;
    max-height: 200px;
    padding: 30px;
}


.footer {
    display: flex;
    align-items: center;
    max-height: 180px;
    gap: 30em;
    padding: 10px;
}

.footer a {
    text-decoration: none;
}

.backgroundcolour {
    background-color: #00A3FF;
    padding: 0px 10px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    min-height: 2.5em;
}

footer {
    justify-content: space-between;
    display: flex;
    background-color: #00A3FF;
    position: relative;
     }

.footing {
    font-size: 1em;
    color: black;
    text-decoration: none;
    border: 1px black solid;
    width: 300px;
    text-align: center;
}

#CONTACT {
    text-decoration: none;
}
.footer-text {
    font-size: 2em;
}

#HERE {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    color: black;
    padding: 10px;
    margin: -10px 100px 10px 100px;
    border: 1px black solid;
}

footer img {
    max-width: 300px;
    max-height: 300px;
}

.buynow {
    background-color: white;
    font-size: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    border: 1px black solid;
    border-radius: 20px;
}


/*Home Page*/                                                                           /*Home Page*/

.Home-img {
max-width: 1000px;
max-height: 500px;
filter: contrast(200%);
margin: 2em auto;
position: relative;
}

.background-home {
    background-image: url(/images/background-imgs/seljalandsfoss-waterfall-iceland.jpg);
    background-repeat:no-repeat;
    background-size: 100% 100%;
}

.align-picture {
    text-align: center;
}

.align-item {
    align-items: center;
}



/*Shopping Page*/                                                                   /*Shopping Page*/

.shupping-cart-bg {
    background-color: rgb(208, 230, 255);
    background-repeat:no-repeat;
    background-size:100% 100vh;
    position: relative;
}


.super {
    background-color:#FF5959;
    padding: 1em 2em;
    text-align: center;
    color: black;
    text-decoration: none;
    font-size: 2em;
    margin-top: 2.5em;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    max-width: 1000px;
}


.super a {
    text-decoration: none;
}

.padding {
    padding-top: 20px;
}

.sale {
    background-color: red;
    font-size: 60px;
    padding: 1em 5em;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 2px black solid;
    margin: auto;
    position: relative;
}


.bestseller {
    background-color: red;
    font-size: 2rem;
    padding: 5rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    font-weight: bold;
    color: white;
    border: 2px black solid;
    max-width: 1000px;
    margin: 2.5rem auto 0px auto;
}

.bestsellers {
    background-color: #00A3FF;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: auto;
    width: 1780px;
}

.bestsellers img {
    max-width: 700px;
    max-height: 425px;
}

.products {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: -200px auto auto auto; 
    grid-gap: 10px;
    border-radius: 30px;
    padding: 100px;
}

.products ul {
    text-align: left;
    margin-left: 50px;
}

.product {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px auto;
}


.product img {
    grid-column: -1/1;
    max-width: 300px;
    height: 300px;
}

.bestselling {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    margin: 0px auto;
    grid-gap: 10px;
}

.bestsellinger {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center
}

.bestsellinger img {
    grid-column: -1/1;
    max-width: 300px;
}


/*Product info page*/                                                               /*Product info page*/

.shopping-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.shopping-info img {
    max-width: 300px;
    max-height: 300px;
}

.shopping-info h4 {
    font-size: 36px;
    margin-bottom: -30px;
}

.redbutton {
    background-color: #FF0000;
    padding: 10px;
    color: white;
    border: 1px black solid;
    text-align: center;
    font-weight: bold;
}

.bluebutton {
    background-color: blue;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px black solid;
}

.blackbutton {
    background-color: black;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px black solid;
}

.pinkbutton {
    background-color: pink;
    padding: 10px;
    color: white;
    text-align: center;
    font-weight: bold;
    border: 1px black solid;
}

.buttons-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    max-width: 1000px;
    margin: 50px auto;
    grid-gap: 10px;
    margin-top: auto;
    background-color: #F0F0F0;
}

.textbox {
    max-width: 300px;
    text-align: center;
}

.buynow {
    color: black;
    text-align: center;
    text-decoration: none;
}


.buy-now {
    background-color: yellow;
    color: black;
    font-size: 1rem;
    padding: 1rem 5rem;
    text-align: center;
    text-decoration: none;
    border-radius: 15px;
    font-weight: bold;
    border: 1px black solid;
    border-radius: 5px;
}

.buying {
    padding: 100px;
}

.sizing {
    display: grid;
    text-align: center;
    font-weight: bold;
}

/*Payment*/                                                                                    /*Payment*/ 

.background-payment {
    background-color: rgb(208, 230, 255);
    min-height: 500px;
    border: 2px;
    object-fit: cover;
    text-align: center;
}

.background-payment h1 {
    margin-top: 70px;
}

.cardinfor {
    max-width: 1000px;
    margin: auto;
    margin-top: 70px;
    text-align: center;
}

.cardinformation {
    display: grid;
    max-width: 400px;
    margin: auto;
    border: 1px black solid;
    padding: 10px;
}

.cardinfo {
    display: flex;
    flex-direction: row;
    margin: auto;
}
  .cardinformation > * {
    flex: 1;
    display: flex;
    flex-direction: column
}

.cancelnreturn {
    background-color: #005CFF;
    font-size: 1rem;
    padding: 1rem 5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    grid-row: 2;
    grid-column: 2;
    color: white;
    border: black 1px solid;
}

.cancelnreturn-div {
    margin: 100px auto;
}

.paynow {
    background-color: #005CFF;
    font-size: 1rem;
    padding: 0.8rem 3rem ;
    border-radius: 5px;
    text-decoration: none;
    grid-row: 2;
    grid-column: 2;
    color: white;
    margin: 100px;
    border: black 1px solid;
}

.paynow-div {
    margin: 20px auto;
}

.form__input {
    display: block;
}

/*Successess*/                                                                      /*Successess*/

.succssess  {
    background-color: #005CFF;
    text-align: center;
    margin: auto;
}

.succssess img {
    max-width: 1000px;
    max-height: 1000px;
    align-self: center;
}

.suss {
    max-width: 300px;
    margin: auto;
    text-align: center;
}

.suss img {
    max-width: 300px;
    border: white 10px solid;
    margin-top: -150px;
    border-radius: 50%;
}

.suss-text {
    max-width: 300px;
    text-align: center;
    margin: auto;
}

.return-to-shopping {
    background-color: #FFDD2C;
    font-size: 1rem;
    padding: 1rem 5rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    color: black;
    border: 1px;
    border-color: black;
    border-style: solid;
}

.return-to-shopping-alignment {
    text-align: center;
    margin: 100px auto;
}

/*About us*/                                                            /*About us*/


.background-about-us {
    background-image: url(/images/background-imgs/seljalandsfoss-waterfall-iceland.jpg);
    object-fit: cover;
    max-width: 100%;
    max-height: 100%;
    opacity: 0.5;
}

.background-about-us image {
    opacity: 0.1;
}

.aboutus-info {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    grid-gap: 10px;
    margin: 100px auto auto auto;
}
.about-us {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-self: flex-start;
    margin-left: -200px;
}

.about-us p {
    margin: auto;
    width: 320px;
    font-size: 24px;
    text-align: center;
}

.about-us1 {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-self: flex-start;
    margin-top: 200px;
    margin-left: -100px;
}

.about-us1 p {
    margin: auto;
    width: 320px;
    font-size: 24px;
    text-align: center;
}

.about-us1 img {
    max-width: 480px;
    max-height: 300px;
    border-radius: 10px;
    object-fit: contain;
}

.about-us img {
    max-width: 480px;
    max-height: 300px;
    border-radius: 10px;
    object-fit: contain;
}

.about-us-text {
    text-align: center;
    font-size: 24px;
    max-width: 495px;
    align-self: center;
    margin: 50px auto;
}

.about-us-text h1 {
    font-size: 30px;
}

.about-us-text p {
    max-width: 600px;
    margin: auto;
}

.pushing {
    text-align: center;
    margin: auto;
    font-weight: bold;
}


/*Locations*/                                                                   /*Locations*/

.maps {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1000px;
    grid-gap: 10px;
    margin: 100px auto auto auto;
}

.maps img {
    border-radius: 20px;
    max-width: 500px;
    object-fit: contain;
}

.maprow {
    display: flex;
    flex-direction: row;
    max-width: 1000px;
    align-self: flex-start;
    background-color: rgb(208, 230, 255);
}
.maprow p {
    margin-left: -110px;
    margin-right: 30px;
    flex: 1 1 auto;
}

.find-us {
    text-align: center;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: #00A3FF;
    color: black;
    padding: 20px 50px;
    border-radius: 25px;
}

.find-us-div {
    width: 400px;
    text-align: center;
    margin: 150px auto;
}

/*Shopping cart*/                                                                       /*Shopping cart*/

.infoproduct {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    grid-gap: 10px;
}

.info-product {
    margin: 30px 50px;
    margin-left: -10px;
}

.info-product h4 {
    font-size: 24px;
    margin-top: 20px;
}

.size {
    margin-top: 0px;
}

.xl {
    text-align: center;
    padding: 10px;
    border: 1px solid black;
}

.imagecart {
    max-width: 300px;
    max-height: 300px;
}

.itemsincart {
    background-color: rgba(90, 165, 252, 1);
    color: black;
    padding: 40px 100px;
    border-radius: 20px;
    text-align: center;
    font-size: 1.8em;
}

.items-in-cart-div {
    width: 600px;
    text-align: center;
    margin: 150px auto 100px auto;
}

.checkout {
    background-color: #FFDD2C;
    font-size: 1rem;
    padding: 0.8rem 3rem;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    grid-row: 2;
    grid-column: 2;
    color: black;
    border: 1px black solid;
}

.checkout-div {
    width: 600px;
    text-align: center;
    margin: 10px auto 100px auto;
}

.shopping-cart {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border-shopping-cart {
    margin: auto;
    border: 1px solid black;
    width: 1000px;
}
/*Contact us*/                                                                          /*Contact us*/

.contactus {
    text-align: center;
    max-width: 300px;
    margin: auto;
    margin-top: 70px;
}

input,
select {
  border: 1px solid #c4c4c4;
  border-radius: 5px;
  margin: 10px 10px 10px 0px;
  padding: 10px 60px;
}

/*Super sale*/                                                                          /*Super sale*/

.supersale {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 900px;
    margin: auto auto 200px auto; 
    grid-gap: 10px;
    background-color: #00A3FF;
    border-radius: 0px 0px 30px 30px;
    padding: 100px;
}

.supersale img {
    max-width: 400px;
    max-height: 400px;
}

.supersale ul {
    text-align: left;
    margin: 10px auto;
}

.supersaling {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.sendin {
    color: white;
    background-color: #005CFF;
    text-decoration: none;
    font-size: 1rem;
    text-align: center;
    margin: 10px auto;
  }

  .buy-div {
    margin: auto;
  }

  .buy-div :hover {
    background-color: #FF5959;
  }




  @media (min-width: 1515px) {

  }
  /*Media quarry full size*/

  @media only screen 
    and (min-width : 1350px) 
    and (max-device-width : 1514px) {
            footer {
            max-width: 100%;
        }
            header {
            max-width: 100%;
            position: relative;
            justify-content: space-between;

        }
            .super {
                margin-left: 5em;
                max-width: 72%;
        }
        .bestseller {
            margin-left: 5em;
        }

        .supersale {
            margin-left: 10em;
        }

        .products {
            margin-left: 8em;
        }
        .footer {
            gap: 10em;
        }
        
        .Home-img {
            margin-top: 70px;
        }

    }
 

    /*Media quarry*/

    @media (max-device-width : 549px) {


        .pushing {
            font-size: 14px;
            margin-top: 100px;
        }


        header {
            position: relative;
        }

        body {
            font-size: 10px;
        }
         

        h3 {
            font-size: 18px;
        }
        main {
            align-items: center;
        }
        footer {
            max-width: 100%;
            margin: auto auto 0px auto;
            position: relative;
        }
            .super {
                margin-left: 34px;
                max-width: 42%;
        }

        .Home-img {
            max-width: 100%;
            max-height: 140px;
            margin-top: 83px;
            margin-left: auto;
        }

        .align-picture {
            text-align: center;
            width: 390px;
        }

        .sale {
            font-size: 15px;
        }
        .bestseller {
            margin-left: 2.3em;
            font-size: 15px;
            max-width: 50%;
            padding: 20px;
        }

        .supersaling {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 10px auto;
            margin-left: -57px;
            gap: 8px;
            margin-right: 81px;
            max-height: 100%;
            font-size: 16px;
        }

        .supersaling img {
            width: 172px;
            height: 208px;
        }

        .supersale {
            margin-left: 3.5em;
            margin-right: 4em;
            max-width: 16%;
            max-height: 34%;
            gap: 30px;
            padding-left: 104px;
            align-items: center;
            grid-template-columns: repeat(1, 1fr);
        }

        .supersale ul {
            font-size: 14px;
        }

        .superduper {
            max-height: 64%;
            max-width: 16%;
            margin-left: 34px;
        }


        .buynow {
            font-size: 0.8rem;
            padding: 0.8rem 1rem;
        }
        .products {
            margin-left: 8em;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 500px;
            margin-left: -27%;
            grid-gap: 10px;
            border-radius: 30px;
            padding: 100px;
            grid-template-columns: repeat(1, 1fr);
            font-size: 14px;
        }

        .products img {
            width: 110px;
            height: 140px;
        }

        .product {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            align-items: center;
            padding-top: 10px;
        }

        .product ul {
            margin-left: -16px;
        }
        .footer {
            gap: 10em;
        }
        


        .find-us {
            font-size: 1rem;
            width: 50%;
        }
        .find-us-div {
            width: 380px;
            text-align: center;
            margin: 150px auto 100px 20px;
        }

        .maps {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 10px;
            margin-left: 50px;
            margin-top: 100px;
            max-width: 65%;
          }
        

        .maps img {
            max-width: 100%;
            max-height: 50%;
        }

        .maprow {
            margin-top: 30px
        }

        .maprow p {
            max-width: 80px;
            margin-left: -65px;
            margin-top: 25px;
        }

        
        .return-to-shopping {
            margin-left: -15%;
        }
        .items-in-cart-div {
            margin-left: 41px;
            max-width: 43%;
        }

        .itemsincart {
            font-size: 14px;
            padding: 10px 50px;
            width: 190px;
        }

        .border-shopping-cart {
            max-width: 27%;
            margin-left: 50px;
            
        }

        .border-shopping-cart img {
            max-width: 140px;
            max-height: 169px;
        }


        .infoproduct {
            max-width: 250px;
            margin-left: 120px;
        }

        .info-product {
            margin-left: -40px;
        }

        .checkout-div {
            margin-left: 0px;
            width: 280px;
        }


        .about-us {
            margin-left: -43px;
            width: 98%;
        }

        .about-us p {
            max-width: 184px;
            font-size: 14px;
            margin-left: 10px;
        }

        .about-us-text {
            max-width: 450px;
            margin-left: 50px;
            font-size: 1rem;
            width: 57%;
        }

        .aboutus-info {
            max-width: 500px;
            margin-left: 50px;
        }

        .aboutus-info img {
            max-width: 185px;
            max-height: 185px;
        }

        .about-us1 {
            margin-left: -329px;
            width: 300px;
        }

        .about-us1 p {
            max-width: 184px;
            font-size: 14px;
        }



        .contactus {
            margin-left: 50px;
        }

        .shopping-info {
            margin-left: 0px;
            margin-top: 50px;
        }

        .buying {
            padding: 100px;
            width: 100%;
            margin: auto auto auto -30px;
        }

        .background-payment {
            margin-left: 0px;
        }

        .background-payment h1 {
            font-size: 1.5rem;
        }

        .succssess img {
            max-width: 390px;
            max-height: 290px;
            margin-left: 0px;
        }

        .suss img {
            max-width: 100px;
            margin-top: -60px;
            margin-left: -27px;
        }

        .suss-text {
            margin-left: 40px;
            font-size: 14px;
        }

        .return-to-shopping-alignment {
            margin: 100px auto auto 20px;
        }


        .header {
            min-height: 100px;
            display: flex;
            flex-direction: column;
        }

        .header-links {
            margin: 0px;
            padding-left: 0px;
        }

        .header-links ul {
            gap: 13px;
            margin-top: -10px;
            font-size: 6px;
        }

        .header-links h1 {
            display: none;
        }
        .header img {
            max-width: 114px;
            margin-top: -31px;
            margin-left: 0px;
        }

         .header ul :hover {
            text-decoration: underline;
            text-transform: capitalize;
         }

        .footer {
            gap: 8px;
            margin-left: 0px;
            margin-right: auto;
        }

        .footer img {
            max-width: 114px;
        }

        .footing p {
            display: none;
        }

        .footing h3 {
            padding: 10px;
        }

        .footing {
            width: 100px;
        }

        .footer-text {
            font-size: 1em;
        }

        #HERE {
            margin: 13px;
            padding: 10px 20px 22px 20px;
        }

        .backgroundcolour {
            width: 100%;
        }
    }
  
  

    @media only screen 
    and (min-width : 500px) 
    and (max-device-width : 1349px) {
        header {
            position: relative;
        }

        body {
            font-size: 10px;
        }

        main {
            align-items: center;
        }
        footer {
            max-width: 100%;
            margin: auto auto 0px auto;
        }
            .super {
                margin-left: 2em;
                max-width: 80%;
        }

        .Home-img {
            max-width: 100%;
            max-height: 200px;
            margin-top: 83px;
            margin-left: auto;
        }

        .align-picture {
            text-align: center;
            width: 390px;
            margin: auto;
        }

        .sale {
            font-size: 15px;
            padding: 2em 5em;
            font-size: 20px;
        }
        .bestseller {
            margin-left: 35px;
            font-size: 20px;
            max-width: 80%;
            padding: 5%;
        }

        .supersaling {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: 10px auto;
            margin-left: -57px;
            gap: 8px;
            margin-right: 81px;
            max-height: 100%;
            margin: auto;
        }

        .supersaling img {
            width: 172px;
            height: 208px;
        }

        .supersale {
            max-width: 65%;
            max-height: 18%;
            gap: 30px;
            padding-left: 114px;
            align-items: center;
            font-size: 14px;
            
        }

        .superduper {
            max-height: 25%;
            max-width: 63%;
            margin-left: 54px;
        }


        .buynow {
            font-size: 0.8rem;
            padding: 0.8rem 1rem;
        }
        .products {
            margin-left: 8em;
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            max-width: 500px;
            margin: auto; 
            grid-gap: 10px;
            border-radius: 30px;
            padding: 100px;
            font-size: 12px;
        }

        .products img {
            height: 200px;
        }

        .product {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin: auto;
            align-items: center;
            padding-top: 10px;
            margin-top: 0px;
        }

        .product ul {
            margin-left: -16px;
        }
        .footer {
            gap: 6em;
            margin: auto;
        }
        


        .find-us {
            font-size: 1rem;
        }
        .find-us-div {
            width: 380px;
            text-align: center;
            margin: 150px auto 100px 50px;
        }

        .maps {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10px;
            margin-left: 50px;
            margin-top: 100px;
            max-width: 85%;
          }
        

        .maps img {
            max-width: 90%;
        }

        .maprow {
            margin-top: 30px
        }

        .maprow p {
            max-width: 80px;
            margin-left: -83px;
            margin-top: 32px;
        }


        .items-in-cart-div {
            margin: 50px auto;
        }

        .itemsincart {
            font-size: 1rem;
        }

        .border-shopping-cart {
            max-width: 500px;
            margin: auto;
        }

        .border-shopping-cart img {
            max-width: 140px;
            max-height: 169px;
        }


        .infoproduct {
            max-width: 250px;
            margin-left: 120px;
        }

        .info-product {
            margin-left: -40px;
        }

        .checkout-div {
            margin-left: -50px;
        }

        .find-us-div {
            margin: 100px auto;
        }

        .about-us {
            margin-left: 0px;
        }

        .about-us p {
            max-width: 184px;
            font-size: 14px;
            margin-left: 10px;
        }

        .about-us-text {
            max-width: 450px;
            margin: auto;
            font-size: 1rem;
        }

        .aboutus-info {
            max-width: 500px;
            margin: 100px auto;
        }

        .aboutus-info img {
            max-width: 225px;
            max-height: 185px;
        }

        .about-us1 {
            margin-left: -500px;
        }

        .about-us1 p {
            max-width: 184px;
            font-size: 14px;
        }

        .pushing {
            text-align: center;
            margin: auto;
            font-size: 18px;
        }


        .contactus p {
           font-size: 14px; 
        }

        .contactus h1 {
            font-size: 16px;
        }

        .shopping-info {
            margin: auto;
            margin-top: 50px;
        }

        .background-payment {
            margin: auto;
        }

        .cardinformation {
            margin: auto;
        }

        .background-payment h1 {
            font-size: 1.5rem;
        }

        .succssess img {
            max-width: 390px;
            max-height: 290px;
            margin: auto;
        }

        .suss img {
            max-width: 100px;
            margin-top: -60px;
            margin-left: 0px;
        }

        .suss-text {
            margin: auto;
            font-size: 14px;
        }

        .header {
            min-height: 100px;
            display: flex;
            flex-direction: column;
            margin: auto;
        }

        .header-links {
            margin: 0px;
            padding-left: 0px;
        }

        .header-links ul {
            gap: 13px;
            margin-top: -10px;
        }

        .header-links h1 {
            display: none;
        }
        .header img {
            max-width: 114px;
            margin-top: -31px;
            margin-left: 0px;
        }

         .header ul :hover {
            text-decoration: underline;
            text-transform: capitalize;
         }
        .footer img {
            max-width: 180px;
        }

        .footer-text {
            font-size: 16px;
        }

        .footing {
            font-size: 14px;
        }
        #HERE {
            margin: 23px;
            padding: 10px 20px 22px 20px;
        }

        .backgroundcolour {
            width: 100%;
        }


    }